#heading
{
    text-align: center;
    position: relative;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

#haveanaccount
{
    position: relative;
    top: 50px;
    right:75px;
}